.header {
    position: absolute;
    top: 22px;
    right: 30px;
}

.navigate {
    text-decoration: none;
    color: #666666;
}

.navigate:hover {
    color: #2980B9;
    /* 悬浮时的颜色 */
}

.container {
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-container #input1 {
    margin-right: 50px;
}

button {
    border: none;
}

#input1,
#input2 {
    height: 60vh;
    width: 60vh;
}

label {
    font-size: 18px;
    color: #666666;
    margin: 0 40px 40px 40px;
}

.inline-image {
    width: 18px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}